header {
    .header-row {
        background-color: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .header-search-input {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

header, .nav-main, footer {
    background-color: #f7f7f7;
}

//.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
//.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
//.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
//.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select,
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

